* {
    background-color: #f7d1cd;
}

h1.index {
    color: #735d78;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 65px;
}

img.noodles {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
    border: 15px dotted #b392ac;
}

h3.quote {
    color: #735d78;
    text-align: center;
    font-family: Arial, sans-serif;
    text-decoration: underline wavy;
}

ul.list {
    text-align: center;
    color: #735d78;
    list-style-type: none;
}